mr-backend/package-lock.json
mr-backend/node_modules/*
mr-backend/.env
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# IDE
.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.unityproj
*.booproj

# User-specific
UserSettings/